@import "/src/common/styles/mixins";
@import "/src/common/styles/variables";


.wrap {
  @include flex(center, center, column);

  position: relative;
  width: 100%;
  height: 45vh;


  .bcgImage {
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: -1;

    background: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1453&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    filter: brightness(0.6);
  }

  .form {
    @include flex(center, center, column);
    width: 70%;
    max-width: 780px;

    .title {
      @include text(80px, 1, $textColor);
      letter-spacing: 3px;
      font-weight: 400;
      margin-bottom: 40px;
      @media (max-width: 900px) {
        font-size: 50px;
      }
      @media (max-width: 470px) {
        font-size: 30px;
      }

    }

    .inputGroup {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .input {
        height: 40px;
        width: 70%;
        background-color: #fff;
      }

      .btn {
        height: 40px;
        width: 20%;
        background-color: #fff;
      }
    }

    .selectGroup {
      @include text(14px, 1, $textColor);
      @media (max-width: 500px) {
        flex-direction: column;
        margin-top: 25px;
        div:nth-child(2) {
          margin: 10px 0 0 0;
        }
      }
      margin: 40px 0;
      white-space: nowrap;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      div:nth-child(2) {
        margin-left: 10px;
      }

      & div {
        display: flex;
        align-items: center;

        &:nth-child(2) {
          margin-left: 30px;
        }
      }

      & span {
        margin-right: 10px;
        flex-grow: 1;
      }
    }

  }
}
