@import "/src/common/styles/mixins";
@import "/src/common/styles/variables";


.wrap {
  @include flex(center, center, column);
  position: relative;
  .loadWrap{
    position: absolute;
    bottom:80px;
    z-index: 3;
  }
  .count {
    height: 20px;
    width: 300px;
    color: black;
    margin-top: 30px;
    font-weight: 500;
  }

  .bookList {
    @include text(16px, 1.2, $secondTextColor);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;

    min-width: 100%;
    min-height: 60vh;
    margin-bottom: 77px;
    background-color: $backgroundColor;
    position: relative;
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 400px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .btn{
    width: 150px;
    height: 40px;
    margin-bottom: 36px;
  }
}
